body {
	background: #edeef0;
	font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	margin: 0;
	width: 100%
}

canvas {
    width: 500px !important;
    height: 300px !important;
}

table {
	border-spacing: 5px 10px;
	font-size: 14px;
}

td {
	padding-bottom: 30px;
	background: #fff;
	padding: 12px 12px 12px 12px;
	border-radius: 10px;
	vertical-align: top
}

h1 {
	text-align: center;
	margin: 10px;
}

h3 {
	margin-top: 8;
}

.logo_icon {
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 15px;
	margin-left: 5px;
	margin-right: 15px;
}

.bad_pick {
	color: red;
}

.team-info-float {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	word-spacing: 5px;
}

.team-text {
	padding-left: 6px;
	padding-top: 10px;
}

.team-highlight {
	padding-bottom: 2px;
	padding-left: 5px;

}

.player-names {
	padding-top: 2px;
	padding-left: 25px;
	padding-right: 15px;
	padding-bottom: 2px;
}

.player-position {
	font-weight: bold;
	float: left;
	padding-top: 2px;
	padding-left: 5px;
	color: #b0b0b0;
}

.vs-div {
	font-size: 26px;
	font-weight: bold;
	position: absolute;
	width: 0;
	left: 50%;
	margin-left: -13px;
	margin-top: 45px;
	color: #808080;
}

.matchup_row {
    width: 100%;
    display: block;
}

.page_break {
    page-break-before: always;
}

.matchup_cell_wrapper {
    padding: 5px;
    width: 49%;
}

.matchup_cell_wrapper.away {
    float: right;
}

.matchup_cell {
    padding: 15px;
    border-radius: 10px;
    background: white;
}

.right {
    float: right;
}

.good_note::before {
    content: " + ";
    color: rgb(0, 255, 0);
    font-weight: bold;
    font-size: 18px;
}

.bad_note::before {
    content: " - ";
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 18px;
}
